# Ignore Obsidian workspace and config files
./Obsidian/obsidian/workspace
./Obsidian/obsidian/workspace.json
./Obsidian/obsidian/cache
./Obsidian/obsidian/app.json
./Obsidian/obsidian/plugins/*

.fake